@import "tailwindcss";

@theme {
  --font-sans: "DM Sans" sans-serif;
  --color-background: #090707;
  --color-foreground: #ffffff;
  --color-primary: #f5f5f5;
  --color-primary-foreground: #181414;
  --color-secondary: #303030;
  --color-muted: #949ea2;
  --color-accent: #404040;

  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --border: oklch(0.922 0 0);

  --inset-shadow-sm: inset 0 -1px 0 0 rgb(255 255 255 / 20%);
}

@layer base {
  body {
    @apply bg-background text-foreground font-sans antialiased;
  }
  button {
    @apply cursor-pointer;
  }
}
